* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    background-color: rgb(9, 9, 116);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.row1 {
    width: 40%;
    margin: 0 auto;

    padding-top: 50px;
}

.titolo {
    color: rgb(197, 194, 194);
    font-size: 50px;
    text-align: center;
    margin: 20px 0;
}


.col1 {
    background-color: white;
    border-radius: 10px;

}

.ul {
    list-style-type: none;
    height: 100%;
    padding-bottom: 10px;
    padding-left: 0;
    margin-bottom: 20px;
}

.elemento-lista {
    border-bottom: 1px solid lightgray;
    height: 60px;
    padding: 10px;
}

form {
    width: 100%;
}

.add,
.add-btn {
    height: 40px;
    padding: 10px;
    border-radius: 5px;
}

.add {
    width: 70%;
    margin-right: 30px;
}

.add-btn {
    background-color: aquamarine;
}